In [3]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv('../data/training.csv')

In [5]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
df.shape

(614, 13)

In [7]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [9]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [28]:
for col in df.columns:
    if df[col].isnull().sum() > 0:
        missing_cols.append(col)
        print(col)
        print(df[col].unique())
        print()

Gender
['Male' 'Female' nan]

Married
['No' 'Yes' nan]

Dependents
['0' '1' '2' '3+' nan]

Self_Employed
['No' 'Yes' nan]

LoanAmount
[  nan  128.   66.  120.  141.  267.   95.  158.  168.  349.   70.  109.
  200.  114.   17.  125.  100.   76.  133.  115.  104.  315.  116.  112.
  151.  191.  122.  110.   35.  201.   74.  106.  320.  144.  184.   80.
   47.   75.  134.   96.   88.   44.  286.   97.  135.  180.   99.  165.
  258.  126.  312.  136.  172.   81.  187.  113.  176.  130.  111.  167.
  265.   50.  210.  175.  131.  188.   25.  137.  160.  225.  216.   94.
  139.  152.  118.  185.  154.   85.  259.  194.   93.  370.  182.  650.
  102.  290.   84.  242.  129.   30.  244.  600.  255.   98.  275.  121.
   63.  700.   87.  101.  495.   67.   73.  260.  108.   58.   48.  164.
  170.   83.   90.  166.  124.   55.   59.  127.  214.  240.   72.   60.
  138.   42.  280.  140.  155.  123.  279.  192.  304.  330.  150.  207.
  436.   78.   54.   89.  143.  105.  132.  480.   56.  159.  300.  376.
  117.   71.  490.  173.   46.  228.  308.  236.  570.  380.  296.  156.
  103.   45.   65.   53.  360.   62.  218.  178.  239.  405.  148.  190.
  149.  153.  162.  230.   86.  234.  246.  500.  186.  119.  107.  209.
  208.  243.   40.  250.  311.  400.  161.  196.  324.  157.  145.  181.
   26.  211.    9.  205.   36.   61.  146.  292.  142.  350.  496.  253.]

Loan_Amount_Term
[ 360.  120.  240.   nan  180.   60.  300.  480.   36.   84.   12.]

Credit_History
[  1.   0.  nan]

In [25]:
df.Gender.unique()

array(['Male', 'Female', nan], dtype=object)

In [14]:
nulls_df = pd.DataFrame(nulls)

In [17]:
for x in nulls_df:
    print(x)

0